{% block content %}

  <hr class="styleguide-divider" />

    <section>Theme Base</section>
    <section class="theme--highlight">Theme Highlight</section>
    <section class="theme--light">Theme Light</section>
    <section class="theme--dark">Theme Dark</section>

  <hr class="styleguide-divider" />

    <h1>This is an H1 Title</h1>
    <h2>This is an h2 Title</h2>
    <h3>This is an H1 Title</h3>
    <h4>This is an h4 Title</h4>
    <h5>This is an h5 Title</h5>
    <h6>This is an H6 Title</h6>

  <hr class="styleguide-divider" />
    
    <a class="btn--a">Link btn--a</a>
    <button class="btn--a">Button btn--a</button>
    <input type="submit" class="btn--a" value="Submit btn--a"/>

  <hr class="styleguide-divider" />
      Link btn--b <a class="btn--b"><i class="icn-temp"></i></a>
      Button btn--b <button class="btn--b"><i class="icn-temp"></i></button>

  <hr class="styleguide-divider" />

      <p>The day will follow the life of an app from concept to go-to-market strategy and beyond. It will consist expert industry speakers, 5 targeted educational seminars, spotlight app demos on our Soap Box, over 60 exhibitors, a coding corner to showcase the skills of students, a rock’n after-party in the park complete with an array of food trucks and adult beverages. Don’t miss the app event of the year in Florida!</p>

      <div class="inner">
        <p>The day will follow the life of an app from concept to go-to-market strategy and beyond. It will consist expert industry speakers, 5 targeted educational seminars, spotlight app demos on our Soap Box, over 60 exhibitors, a coding corner to showcase the skills of students, a rock’n after-party in the park complete with an array of food trucks and adult beverages. Don’t miss the app event of the year in Florida!</p>

        <div class="l-bucket--text">
          <p>The day will follow the life of an app from concept to go-to-market strategy and beyond. It will consist expert industry speakers, 5 targeted educational seminars, spotlight app demos on our Soap Box, over 60 exhibitors, a coding corner to showcase the skills of students, a rock’n after-party in the park complete with an array of food trucks and adult beverages. Don’t miss the app event of the year in Florida!</p>
        </div>
      </div>

  <hr class="styleguide-divider" />

    <article class="l-card--a">
      
      <h4 class="title">The <i>I</i> Details</h4>

      <div class="content">
        
        <i>I</i>

        <ol>
          <li>Saturday, november 16th 2013</li>
          <li>8 am - 4:30 pm  |  main event</li>
          <li>5 pm - 6:30 pm  |  after party</li>
        </ol>
      
      </div>

    </article>

  <hr class="styleguide-divider" />

    <article class="l-card--b">
      
      <h4 class="title">Quick <i>I</i> Look</h4>

      <div class="content">
        
        <i>I</i>

        <ol>
          <li>5 total workshop tracks</li>
          <li>1000+ visitors</li> 
          <li>8 FREE In-depth App Demos from the Soap Box</li>
          <li>Expertttpeakers</li>
          <li>60+ exhibitors</li> 
          <li>Networking around every corner</li> 
          <li>Official rock’n after-party</li> 
        </ol>
      
      </div>

    </article>

  <hr class="styleguide-divider" />

    <ul class="">
      <li class="landmark-pair">
        <div class="landmark--a"><i>I</i></div>
        <p class="landmark-title--a">concept</p>
      </li>
      <li class="landmark-pair">
        <div class="landmark--b"><i>I</i></div>
        <p class="landmark-title--b">design</p>
      </li>
      <li class="landmark-pair">
        <div class="landmark--c"><i>I</i></div>
        <p class="landmark-title--c">architecture</p>
      </li>
      <li class="landmark-pair">
        <div class="landmark--d"><i>I</i></div>
        <p class="landmark-title--d">development</p>
      </li>
      <li class="landmark-pair">
        <div class="landmark--e"><i>I</i></div>
        <p class="landmark-title--e">revenue</p>
      </li>
      <li class="landmark-pair">
        <div class="landmark--f"><i>I</i></div>
        <p class="landmark-title--f">go-to-market</p>
      </li>
    </ul>


{% endblock %}